.page-login {
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: relative;
}

.page-login-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
