
h4 {
  font-size: 200px;
}
.page-home{
  min-height: 100vh;
}
.header-component{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.empty-block{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-card-item{
  margin-top: 10px;
  padding-top: 10px;
}
.page-home-container{
  margin-top: 80px;
  padding-bottom: 80px;
}
